:root{

--green: hsl(75, 94%, 57%);
--white: hsl(0, 0%, 100%);
--grey-700: hsl(0, 0%, 20%);
--grey-800: hsl(0, 0%, 12%);
--grey-900: hsl(0, 0%, 8%);

--spacing-50: 0.25rem;
--spacing-100: 0.5rem;
--spacing-150: 0.75rem;
--spacing-200: 1rem;
--spacing-300: 1.5rem;
--spacing-500: 2.5rem;

--radius-lg:var(--spacing-150);
--radius-sm:var(--spacing-100);

--font-sans: "Inter", sans-serif;
--text-preset-1: 1.5rem;
--text-preset-2: 0.875rem;
--line-preset-1:1.5;

--max-width: 28.5rem;

@media (min-width: 50rem) {
    --max-width: 24rem;
    
}

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:var(--white);
    background-color: var(--grey-900);
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-preset-2);
    line-height: var(--line-preset-1);


}

h2 {
  font-size: var(--text-preset-1);
  font-weight: 600;
  letter-spacing:0.2px;
}

strong {
  color: var(--green);
}

ul[role="list"] {
  list-style-type: none;
}

img,picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--spacing-300));
}

.challenge-wrapper {
--max-child-width: var(--max-width, 20rem);
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: var(--spacing-300)
   max(var(--spacing-300), calc(50% - var(--max-child-width) / 2));
 }

 .align-center {
     text-align: center;
 }
 
.button {
    --link-color:var(--grey-700);
    --link-text-color:var(--white);
    cursor: pointer;
    background-color: var(--link-color);
    color: var(--link-text-color);
    border:0;
    border-radius: var(--radius-sm);
    text-decoration: none;
    font:inherit;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 100%;
    padding: var(--spacing-150);

    &:hover, &:focus {
        --link-color:var(--green);
        --link-text-color:var(--grey-900);
    
    }


}

.card{
    background-color: var(--grey-800);
    border-radius: var(--radius-lg);
    width: 100%;
    padding: var(--spacing-300);

    @media (min-width:25rem) {
        padding: var(--spacing-500)
    }

}

.card__image img {
 margin-inline: auto;
 width:5.5rem;
 height: 5.5rem;
 border-radius: 50%;
 object-fit: cover;
 aspect-ratio: 1/1;

}

.card__info * {
    --flow-space: var(--spacing-50);
}

.card__links ul {
    --flow-space: var(--spacing-200);
}